[submodule "3rd_party/JUCE"]
	path = 3rd_party/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "3rd_party/cmajor"]
	path = 3rd_party/cmajor
	url = git@github.com:cmajor-lang/cmajor.git
[submodule "3rd_party/anira"]
	path = 3rd_party/anira
	url = git@github.com:anira-project/anira.git
